.heading {
  background-color: brown;
  text-align: center;
  color: white;
}

u {
  color: orange;
}

.main {
  color: red;
}
.Ilight{
  color: green;
}

#Name{
  width: 350px;
}

body {
  background-color: rgb(234, 234, 179);
}

* {
  margin: 0px
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;

}

